
.goods{
    margin: 0 auto;
}

.goods__container{
max-width: 1170px;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
gap: 47px 30px;
}



.goods__items

.item-1{
    background: url("../img/book.jpg") no-repeat center;
}