.header__container{
margin: 0 auto;
max-width: 1770px;
display: flex;
/* justify-content: space-between;
align-items: center; */

}
.header{
    padding: 25px 75px 32px 75px ;
}

.header__logo{
    font-family: OpenSans;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.06em;
    color: #2D2D2D;
    grid-area: header-logo;
}

.header__logo span{
    color: #3670C7;
}

.header__btn{
    background-color: #3670C7;
    border-radius: 10px;
    color: #fff;
    border: 0;
    padding: 9px 25px;
    font-family: Lato;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    min-width: 170px;
    grid-area: header-btn;
}

.header__search{
    background: #EFEFEF;
    border-radius: 30px;
    height: 54px;
    width: 757px;
    display: flex;
    /* justify-content: space-between; */
    padding-left: 40px;
    align-items: stretch;
    grid-area: search;

}

.header__search-btn{
    background: #3670C7;
    border-radius: 30px;
    width: 101px;
    height: 54px;
    border: none;
    position: relative;
}

.header__search-btn::before{
    content:'';
    margin: 0 auto;
    position: absolute;
    background: url("../img/icon/search.svg") no-repeat center;
    top: 13px;
    left: 37px;
    width: 26px;
    height: 26px;
}


.header__search-input{

    flex-grow: 1;
    background: transparent;
    border: none;
    outline: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #292828;
    font-family: 'Lato';


}

.header__search-input::placeholder{
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #8F8F8F;
    font-family: 'Lato';

}

.header__icon{
    display: flex;
    align-items: center;
    gap:70px;
    font-family: 'Lato';
    grid-area: icons;
}

.header__icon-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 82px;
    height: 61px;
    font-size: 16px;
    line-height: 130%;
    color: #2D2D2D;
    text-decoration: none;

}


@media(max-width: 1200px){
    .header{
        padding: 34px 42px 60px 34px ;
    }

    .header__container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-rows: 61px 54px;
        gap:34px;
        width: 940px;
        height: 149px;
        /* grid-template-areas: 
        "header-logo header-logo header-logo header-logo header-logo header-logo header-logo header-logo icons icons icons"
        "header-btn header-btn header-btn search search search search search search search search search";
        justify-content: space-between; */
    }

    .header__logo{
        grid-column: 1/3;
        grid-row: 1;
    }

    .header__icon{
        grid-column: 4/12;
        grid-row: 1;
        justify-content: flex-end;
    }

    .header__btn{
        grid-column: 1/3;
        grid-row: 2;

    }

    .header__search {
        grid-column: 4/12;
        grid-row: 2;
    }
}