
.promo{
    margin: 0 auto;
    max-width: 1770px;
    font-family: 'Lato';
}

.promo__container{
    display: grid;
    gap:60px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 1770px;
    height: 1092px;
    margin-bottom: 100px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
}

.promo__sale{
    width: 88px;
    height: 88px;
    background: #FFBD13;
    border-radius: 44px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .promo__sale p{
        font-weight: 700;
        font-size: 30px;
        line-height: 130%;
        }


.promo__items{
    
    border-radius: 20px;
    padding: 14px;
    box-sizing: border-box;
    display: flex;
    box-sizing: border-box;
}

.promo-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.promo__item-1{
    background: url("../img/book.jpg") no-repeat center;
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;

}

.promo__item-1 p{
    width: 190px;
    
    
}

.promo__item-1 span{
    font-weight: 700;
    font-size: 40px;
}


.promo__item-2{
    background: url("../img/time.jpg") no-repeat center;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}


.promo__item-2 p{
font-weight: 700;
font-size: 30px;
line-height: 130%;

}

.promo__item-3{
    background: url("../img/40psnt.jpg") no-repeat center;
    grid-column: 1 / span 2;
}
.promo__item-4{
    background: url("../img/gift-shoose.jpg") no-repeat center;
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    display: flex;
    align-items: flex-end;
}

.promo__item-4-text{
    width: 100%;
    height: 167px;
    background: #38C0EB;
    border-radius: 20px;
    border: none;
    padding: 30px 26px;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    box-sizing: border-box;
}

.promo__item-4-text span{
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
}
.promo__item-5{
    background: url("../img/present.jpg") no-repeat center;
    grid-column: 5 / span 2;
    grid-row-start: 1;
    box-sizing: border-box;
    padding: 90px 180px 30px 30px;
}

.promo__item-5-text, .promo__item-6{

    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}
.promo__item-6{
    background: url("../img/desember.jpg") no-repeat center;
    grid-column: 5 / span 2;
    align-items: flex-end;
    justify-content: space-between;
}
.promo__item-7{
    background: url("../img/2022.jpg") no-repeat center;
    grid-column: 1 / span 4;
    grid-row: 3 / span 2;
    padding: 50px;
    
}

.promo__item-7-text{
    align-self: flex-end;
    background: #fff;
    border-radius: 20px;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: #F91155;
    padding: 30px 40px;
}
.promo__item-8{
    background: url("../img/girl.jpg") no-repeat center;
    grid-row: 3 / span 2;
    justify-content: flex-end;
    align-items: flex-end;
}
.promo__item-9{
    background: url("../img/care.jpg") no-repeat center;
    flex-direction: column;
    justify-content: space-around;
}
.promo__item-10{
    background: url("../img/new-year.jpg") no-repeat center;
}
